.modal,
.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

.openBtn {
	font-size: 15px;
	text-transform: uppercase;
	padding: 16.5px 25px;
	width: 200px;
	background: #000;
	color: #fff;
	outline: none;
	font-weight: 900;
	letter-spacing: 7px;
	border: none;
	transition: 1s;
	background: #000;
	box-shadow: 20px 20px 83px #bebebe, -20px -20px 83px #ffffff;
}
.openBtn:hover {
	background: #cacaca;
	color: #000;
}
.overlay {
	background: rgba(49, 49, 49, 0.8);
}
.content {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.4;
	background: #f1f1f1;
	padding: 14px 28px;
	border-radius: 3px;
	max-width: 600px;
	min-width: 300px;
}
.closeBtn {
	font-size: 1.3rem;
	padding: 15px 20px;
	border-radius: 30px;
	background: #000;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 40%;
	left: 58%;
	transform: translate(-50%, -50%);
}
